<a href="https://colab.research.google.com/github/StetskoSergey/algotrade/blob/main/%D0%97%D0%B0%D0%B3%D1%80%D1%83%D0%B7%D0%BA%D0%B0%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85%20binance%20%D0%BF%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import requests                    # for "get" request to API
import json                        # parse json into a list
import pandas as pd                # working with data frames
import datetime as dt              # working with dates
import matplotlib.pyplot as plt    # plot data
from IPython.display import clear_output # очистка вывода в ячейке
import warnings # библиотека сообщений по ошибкам
warnings.filterwarnings("ignore") # игнорировать сообщения ошибок

!pip install --upgrade qgrid -q
import qgrid
clear_output()

In [22]:
def get_binance_bars(symbol, interval, startTime, endTime):
 
    url = "https://www.binance.us/api/v3/klines"
 
    startTime = str(int(startTime.timestamp() * 1000))
    endTime = str(int(endTime.timestamp() * 1000))
    limit = '1000'
 
    req_params = {"symbol" : symbol, 'interval' : interval, 'startTime' : startTime, 'endTime' : endTime, 'limit' : limit}
 
    req = requests.get(url, params = req_params)
    if req.status_code == 200:
      df = pd.DataFrame(req.json())
    else: 
      print('Ошибка соединение !!!', req)
      return None  

 
    if (len(df.index) == 0):
        return None
     
    df = df.iloc[:, 0:6]
    df.columns = ['datetime', 'open', 'high', 'low', 'close', 'volume']
 
    df.open      = df.open.astype("float")
    df.high      = df.high.astype("float")
    df.low       = df.low.astype("float")
    df.close     = df.close.astype("float")
    df.volume    = df.volume.astype("float")
    
    df['adj_close'] = df['close']
     
    df.index = [dt.datetime.fromtimestamp(x / 1000.0) for x in df.datetime]
 
    return df

In [23]:
get_binance_bars('BTCUSDT', '1h', dt.datetime(2020, 1, 1), dt.datetime(2020, 2, 1))

,datetime,open,high,low,close,volume,adj_close
2020-01-01 00:00:00,1577836800000,7180.46,7182.19,7175.62,7175.62,1.675424,7175.62
2020-01-01 01:00:00,1577840400000,7178.39,7226.82,7178.39,7212.38,4.299518,7212.38
2020-01-01 02:00:00,1577844000000,7213.97,7238.03,7212.30,7238.03,4.444675,7238.03
2020-01-01 03:00:00,1577847600000,7237.88,7237.88,7221.65,7230.71,2.340828,7230.71
2020-01-01 04:00:00,1577851200000,7226.19,7226.19,7216.00,7216.00,0.614507,7216.00
...,...,...,...,...,...,...,...
2020-01-31 20:00:00,1580500800000,9298.06,9336.71,9298.06,9320.07,9.026915,9320.07
2020-01-31 21:00:00,1580504400000,9320.08,9375.13,9320.08,9365.38,3.117903,9365.38
2020-01-31 22:00:00,1580508000000,9366.07,9423.15,9345.07,9403.94,2.567982,9403.94
2020-01-31 23:00:00,1580511600000,9400.30,9414.64,9339.15,9352.98,1.767178,9352.98
2020-02-01 00:00:00,1580515200000,9363.96,9390.30,9347.56,9383.64,1.082886,9383.64